<div class="jumbotron">
  <h1>Homepage</h1>
  <p>This is the Content of the first page make it interesting!</p>
  <p>I think it works now!! </p>
  <%= link_to "Sign Up to our App", '#', class: "btn btn-lg btn-primary" %> 
</div>
